name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Format
        run: clang-format -Werror -i --dry-run *.[ch]pp

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup nix
        uses: cachix/install-nix-action@v31
      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: toino
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: hyprland,nix-community
      - name: Build
        run: nix flake check --all-systems --keep-going --print-build-logs
